body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    max-width: 1600px;
    color: #FFFFFF;
    text-decoration: none;
    margin: auto;
}
header {
    width: 100%;
    margin: auto;
    background: #000000;
    backdrop-filter: blur(2px);
}
.containeer {
    width: 72.56%;
    margin: auto;   
}
.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    display: none; 
}
.header__logo {
    width: 7%;
    margin: 1.15% 0%;
}
.logo__img {
    width: 100%;
}
.menu {
    width: 73.2%;
}
.header__menu-items {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.95vw;
}
.items__marker {
    margin-right: 7%;
}
.link {
    color: #FFFFFF;
    text-decoration: none;  
}
.link:hover {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
@media screen and (max-width: 1000px) {
    .header {
        position: relative;
        z-index: 1;
    }
    .containeer {
        width: 94%;
    }
    .header__logo {
        width: 8.7%;
        margin: 1.4% 0%;     
    }
    .header__menu {
        padding-left: 6.6%;
    }
    .header__menu-items {
        font-size: 1.58vw;
    }
}
.main__banner {
    margin-top: -5%;
    background-image: url("../../assets/images/Giant_Panda.png");
    background-position: center;
    width: 100%;
    border: none;
    padding-top: 5.8%;
}
.banner__ellipse {
    position: relative;
    width: 29%;
    padding: 14.5% 0%;
    border-radius: 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    margin-left: 50.5%;
}
.banner__greeting {
    position: absolute;
    top: 15%;
    left: 18%;
    margin: auto;
    font-weight: 700;
    font-size: 6.3vw;
    line-height: 80%;
    letter-spacing: 0.045em;
    text-align: center;
    text-transform: uppercase;
}
.yellow-word {
    color:#FFEE2E;
}
.banner__btn-watch {
    width: 18.5%;
    margin: 4.2% auto 6.2% 61.5%;
    padding: 1%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9vw;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}
.banner__btn-watch:hover {
    background: #E47209;
}
.banner__btn-watch:focus {
    background: #4B9200;
}
@media screen and (max-width: 1000px) {
    .main__banner {
        background-size: 120%;
        background-position: 50% 100%;
    }
    .banner__ellipse {
        width: 36.6%;
        padding: 18.3% 0%;
        margin-top: -2%;
        margin-left: 45.5%;
    }
    .banner__greeting {
        font-size: 8vw;
        top: 14%;
        left: 19%;
    }
    .banner__btn-watch {
        width: 29.7%;
        margin: 4.8% auto 4.8% 56.5%;
        padding: 1.6%;
        font-size: 1.5vw;
    }
}
.main__backstage {
    width: 100%;
    margin: auto;
    padding-top: 8%;
    position: relative;
}
.backstage__row {
    margin: auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.backstage__img-man {
    margin: 0%;
    width: 52.5%;
    background-image: url("../../assets/images/bamboo_cap.png");
    background-size: cover;
}
.backstage__text{
    width: 40%;
    margin: 0%;
}
.backstage__text-h2 {
    margin: 0%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 120%;
    color: #333B41;
}
.backstage__text-about {
    margin-top: 5%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 130%;
    color: #333B41;
}
.backstage__text-h3 {
    margin-top: 12%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 120%;
    color: #333B41;
}
.backstage__text-goal {
    margin: 0;
    margin-top: 7%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 140%;
    color: #333B41;
}
.backstage__flower {
    width: 12.7%;
    position: absolute;
    top: 0;
    right: 0;
}
@media screen and (max-width: 1000px) {
    .backstage__row {
        margin-top: 3%;
    }
    .backstage__img-man {
        width: 48.5%;
        background-position: 50% 100%;
    }
    .backstage__text {
        width: 48.3%;
    }
    .backstage__text-h2 {
        margin-top: -2%;
        font-size: 4.8vw;
    }
    .backstage__text-about {
        margin-top: 5%;
        font-size: 1.6vw;
        line-height: 120%;
    }
    .backstage__text-h3 {
        font-size: 2.4vw;
    }
    .backstage__text-goal {
        margin-top: 8%;
        font-size: 1.6vw;
        line-height: 137%;
    }
    .backstage__flower {
        display: none;
    }
}
.main__pets {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.pets__row {
    width: 100%;
    margin: auto;
    margin-top: 10.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-left, .btn-right {
    width: 4.6em;
    height: 4.6em;
    border-radius: 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border:none;
    cursor: pointer;
}
.btn-left:hover, .btn-right:hover {
    background: #E47209;
}
.btn-left:focus, .btn-right:focus {
    background: #4B9200;
}
.vector-left {
    margin: auto;
    width: 35%;
    height: 15%;
    background: url("../../assets/icons/left.svg") no-repeat;
}
.vector-right {
    margin: auto;
    width: 35%;
    height: 15%;
    background: url("../../assets/icons/right.svg") no-repeat;
}
.pets__cards {
    width: 72.4%; 
    margin: 0 1.3%;
    display: flex;
    flex-direction: column;
}
.pets__cards-row {
    display: flex;
    justify-content: space-between;
}
.btn-middle-screen {
    display: none;
    margin: auto;
}
.cards__card {
    width: 31.5%;
    margin: 0.8% 0%;
    border: 1px solid #FE9013;
    border-radius: 5px;
    transition: .3s;
}
.pet-image {
    width: 100%;
}
.card__description {
    display: flex;
    justify-content: space-between;
}
.description__text-h3 {
    margin: 2% auto 0 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000;
}
.description__text-habitat {
    margin: -1% auto 7% 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 0.925vw;
    line-height: 120%;
    color: #000000;
}
.description__food-banana {
    width: 9%;
    background: url("../../assets/icons/banana-bamboo_icon.svg") no-repeat;
    background-size: 100%;
    margin: 2% 2.5% 0 auto;
}
.description__food-meet {
    width: 13%;
    background: url("../../assets/icons/meet-fish_icon.svg") no-repeat;
    background-size: 100%;
    margin: 1% 2% 0 auto;
}
.cards__card:hover {
    transform: scale(1.05);
}
.pets__btn-choose-favorite {
    width: 18.5%;
    margin: 4.2% auto 6.2%;
    padding: 1%;
    background: #FE9013;
    border-radius: 25px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}
.pets__btn-choose-favorite:hover {
    background: #E47209;
}
.pets__btn-choose-favorite:focus {
    background: #4B9200;
}
.pets__palm {
    position: absolute;
    width: 18%;
    bottom: 0;
    left:0;
}
.pets__strelitzia {
    position: absolute;
    width: 23%;
    bottom: 0;
    right: 0;
}
@media screen and (max-width: 1000px) {
    .big-screen {
        display: none;
    }
    .btn-middle-screen {
        display: block;
        width: 31.5%;
        display: flex;
        justify-content: space-between;
        margin: 0.8% auto;
    }
    .pets__cards {
        width: 94%;
        margin-top: 2.8%;
    }
    .cards__card {
        width: 31%;
    }
    .description__text-h3 {
        margin-top: 4%; 
        font-size: 1.6vw;
    }
    .description__text-habitat {
        font-size: 1.5vw;
    }
    .description__food-banana {
        width: 12%;
        margin-right: 4%;
    }
    .description__food-meet {
        width: 20%;
    }
    .pets__btn-choose-favorite {
        width: 30%;
        margin: 7% auto 14%;
        padding: 1.5%;
        font-size: 1.58vw;
    }
}
.main__pick-and-feed {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding-top: 2%;
    padding-bottom: 6.2%;
}
.pick-and-feed__info {
    width: 72.5%;
    margin: auto;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding-bottom: 3.8%;
}
.pick-and-feed__info-h2 {
    padding-top: 3.3%;
    margin-bottom: 2.9%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
}
.pick-and-feed__info-first-p {
    margin-left: 8.5%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 120%;
    color: #333B41;
}
.pick-and-feed__info-second-p {
    margin-top: 3.4%;
    margin-bottom: 1%;
    margin-left: 8.5%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #333B41;
}
.pick-and-feed__info-third-p {
    width: 75%;
    margin-top: 1%;
    margin-left: 99px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 130%;
    color: #333B41;
}
.pick-and-feed__info-third-p-a {
    color: #333B41;
    text-decoration: none;
    padding-bottom: 0.2%;
    border-bottom: 1px solid #FE9013;
}
.pick-and-feed__h3 {
    text-align: center;
    margin-top: 5.2%;
    margin-bottom: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 2.3vw;
    line-height: 130%;
    color: #333B41;
}
.pick-and-feed__stages {
    width: 66%;
    margin: auto;
    margin-top: 3.5%;
    display: flex;
    justify-content: space-between;
}
.stage__picture {
    width: 10.5vw;
    height: 10.5vw;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FE9013;
}
.stage__description {
    width: 9.8vw;
    margin-top: 17%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 140%;
    color: #333B41;
}
.stages__separator {
    margin-top: 8%;
}
.pick-and-feed__btn-feed {
    display: block;
    margin: auto;
    margin-top: 3.8%;
    width: 25.8%;
    padding: 1.3%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}
.pick-and-feed__btn-feed:hover {
    background: #E47209;
}
.pick-and-feed__btn-feed:focus {
    background: #4B9200;
}
.main__testimonials {
    position: relative;
    overflow: hidden;
}
@media screen and (max-width: 1000px) {
    .main__pick-and-feed {
        padding-top: 0.5%;
        padding-bottom: 5%;
    }
    .pick-and-feed__info {
        width: 94.5%;
    }
    .pick-and-feed__info-h2 {
        margin: 2.3%;
        font-size: 4.8vw;
    }
    .pick-and-feed__info-first-p {
        margin: 0% 5.4%;
        font-size: 2.4vw;  
    }
    .pick-and-feed__info-second-p {
        margin: 2.1% 10% 0% 5.4%;
        font-size: 1.6vw;
        line-height: 130%;
    }
    .pick-and-feed__info-third-p {
        width: 90%;
        margin: 1.4% 0% 1.5% 5.4%;
        font-size: 1.6vw;
        line-height: 130%;
    }
    .pick-and-feed__h3 {
        font-size: 3.6vw;
        margin-top: 4%;
    }
    .pick-and-feed__stages {
        width: 81%;
        margin-top: 4.2%;
    }
    .stage__picture {
        width: 16.5vw;
        height: 16.5vw;
    }
    .stage__description {
        margin-top: 19%;
        width: 16.5vw;
        font-size: 1.55vw;
    }
    .pick-and-feed__btn-feed {
        width: 31.5%;
        margin: 6% auto 1%;
        padding: 1.8%;
        font-size: 1.58vw;
    }
}
.main__testimonials-h2 {
    width: 100%;
    text-align: center;
    margin-top: 8.8%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 2.3vw;
    line-height: 130%;
    text-align: center;
    color: #333B41;
}
.testimonials__last {
    width: 72.5%;
    margin: auto;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}
.last__review {
    position: relative;
    width: 22.8%;
    padding-bottom: 1.7%;
    background: #F1F3F2;
    border-radius: 20px;
}
.last__review::before {
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    border-radius: 20px;
    z-index: -1;
}
.review__profile {
    display: flex;
    align-items: center;
    margin-bottom: -1%;
}
.profile__picture {
    margin: 5% 4.2% 4% 6%;
}
.profile__picture-img {
    width: 100%;
    height: auto;
}
.profile__information {
    width: 70%;
}
.information__name {
    margin:0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 120%;
    color: #000000;
}
.information__info {
    margin:0;
    padding: 0; 
    margin-right: 2.5%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 0.95vw;
    line-height: 120%;
    color: #BDBDBD;
}
.review__text-p {
    margin: 0 5% 0 6.2%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 0.93vw;
    line-height: 120%;
    color: #767474;
}   
.testimonials__progress {
    position: relative;
    width: 37.43%;
    margin: auto;
    text-align: center;
    margin-top: 1.4%;
    margin-bottom: 1.9%;
}
.progress__border {
    position: relative;
    width: 100%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    border-radius: 5px;
}
.progress__range {
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    -webkit-appearance: none;
    margin: auto;
    width: 99.5%;
    height: 0.3vw;
    border: 1px solid #E0D8F0;
    background: -webkit-linear-gradient(left, #FE9013 0%, #FE9013 18%, #FFFFFF 0%, #FFFFFF 18%);
    border-radius: 5px;
}
.progress__range::-moz-range-track {
    -moz-appearance: none;
    margin: auto;
    width: 37.43%;
    height: 0.3vw;
    border: 1px solid #d3c9c9;
    border-radius: 5px;
    background: -moz-linear-gradient(left, #FE9013 0%, #FE9013 18%, #FFFFFF 0%, #FFFFFF 18%);
}
.progress__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 3%;
    height: 0.3vw;
    border-radius: 5px;
    background: #FE9013;
    cursor: pointer;
}
.progress__range::-moz-range-thumb {
    -moz-appearance: none;
    width: 3%;
    height: 0.3vw;
    border-radius: 5px;
    background: #FE9013;
    cursor: pointer;
}
.testimonials__btn-feedback {
    width: 18.6%;
    padding: 1%;
    margin: 0 auto 11.3% 13.8%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.testimonials__btn-feedback:hover {
    background: #E47209;
}
.testimonials__btn-feedback:focus {
    background: #4B9200;
}
.testimonials__leav {
    position: absolute;
    right: 0%;
    bottom: -15%;
}
@media screen and (max-width: 1000px) {
    .last__review:nth-child(n+4) {
        display: none;
    }
    .main__testimonials-h2 {
        font-size: 3.6vw;
        margin-top: 10.1%;
    }
    .testimonials__last {
        width: 93.5%;
        margin-top: 3.4%;
    }
    .last__review {
        width: 31%;
        padding-bottom: 3.9%;
    }
    .profile__picture {
        margin-top: 4%;
        margin-left: 4%;
    }
    .information__name {
        font-size: 1.6vw;
    }
    .information__info {
        font-size: 1.53vw;
    }
    .review__text-p {
        margin-left: 4.2%;
        font-size: 1.53vw;
        line-height: 118%;  
    }
    .testimonials__progress {
        margin-top: 2.2%;
        width: 40%;
    }
    .progress__range {
        height: 0.5vw;
    }
    .progress__range::-webkit-slider-thumb {
        height: 0.5vw;
    }
    .progress__range::-moz-range-thumb {
        height: 0.5vw;
    }
    .testimonials__btn-feedback {
        width: 29.8%;
        font-size: 1.6vw;
        padding: 1.4%;
        margin: 3.5% auto 14.2% 3%;
    }
    .testimonials__leav {
        right: -2.5%;
        scale: 0.8;
    }
}
.footer {
    background: #111115;
}
.footer__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer__logo-donate-social {
    width: 26%;
    display: flex;
    flex-direction: column;
}
.footer__logo {
    width: 28%;
    margin: 13% auto 0 0;
}
.donate__btn-donate {
    width: 99%;
    padding: 5.5%;
    margin-top: 21%;
    margin-bottom: 11.5%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    border: none;
    font-family: 'Roboto';  
    font-style: normal;
    font-weight: 500;
    font-size: 0.95vw;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}
.donate__btn-donate:hover {
    background: #E47209;
}
.donate__btn-donate:focus {
    background: #4B9200;
}
.footer__social {
    margin-top: 4%;
    margin-bottom: 0;
}
.social__link {
    text-decoration: none;
    margin: 0;
    display: flex;
    align-items: center;
}
.social__logo {
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 12px;
    background: rgba(196, 196, 196, 0.5);
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social__name {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 140%;
    color: #FFFFFF;
}
.footer__social:last-child {
    margin-bottom: 50px;
}
.footer__menu {
    width: 42%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-right: 0;
    margin-top: 32.2%;
}
.footer__menu-items {
    width: 73.7%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: auto;
    margin-right: 7%;
    padding: 0%;
}
.footer__items-marker {
    margin-right: 0;
}
.footer__subscribe {
    width: 31.6%;
}
.footer__subscribe-h3 {
    margin-top: 11%;
    margin-bottom: 4%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 120%;
    color: #FFFFFF;
}
.subscribe__field {
    display: flex;
    justify-content: space-between;
}
.subscribe__field-email {
    width: 58%;
    margin: 0;
    padding-left: 3%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 140%;
    color: #BDBDBD;
    background: none;
    outline:none;
    border: 1px solid #F9804B;
}
.subscribe__field-email:focus {
    border: 1px solid #4B9200;
}
.subscribe__field-submit {
    cursor: pointer;
    width: 35%;
    padding: 2.2%;
    margin: 0;
    background: #F1F3F2;
    border: 1px solid #4B9200;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 140%;
    color: #4B9200;
}
.footer__design {
    margin-top: 59%;
    margin-right: 2%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 1vw;
    line-height: 130%;
    color: #FFFFFF;
}
.footer__design-p {
    margin: 0;
    margin-bottom: 3%;
    text-align: right;
}
@media screen and (max-width: 1000px) {
    .footer>.containeer {
        width: 91.5%;
        position: relative;
    }
    .footer__logo-donate-social {
        width: 33%;
    }
    .footer__logo {
        width: 28%;
    }
    .donate__btn-donate {
        font-size: 1.6vw;
    }
    .footer__social {
        margin-top: 3.5%;
    }
    .social__logo {
        width: 2.5vw;
        height: 2.5vw;
    }
    .social__name {
        font-size: 1.6vw;
    }
    .footer__menu {
        position: absolute;
        width: 49.5%;
        right: 28.1%;
        top: 18%;
    }
    .footer__subscribe {
        width: 40.5%;
    }
    .footer__subscribe-h3 {
        font-size: 2.36vw;
    }
    .subscribe__field-submit {
        margin-right: 2%;
        font-size: 1.6vw;
    }
    .subscribe__field-email {
        font-size: 1.6vw;
    }
    .footer__design-p {
        font-size: 1.63vw;
        margin-right: -7.8%;
        margin-top: 5%;
    }
 }